@{
    ViewBag.Title = "Contact Us";
}
<h2 class="header-text">@ViewBag.Title</h2>

<address>
    The Collage of Management<br />
    Rishon Lezion, Eli Vizel 2<br />
    <abbr title="Phone">Phone : </abbr>
    03-6578933
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@RASA.com">Support@RASA.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@RASA.com">Marketing@RASA.com</a>
</address>

<hr />

<style>
    #map {
        height: 400px; 
        width: 100%;
    }
</style>

<h3>RASA Locations</h3>
<div id="map"></div>
<script>
    // Initialize and add the map
    function initMap() {
        $.ajax({
            type: 'POST',
            dataType: 'JSON',
            url: '/Home/GetLocationPoints',
            success: (locations) => {
                var markers = locations.map(({lat, lng}, index) => {
                    return new google.maps.Marker({
                        position: {lat, lng},
                        title: `RASA Building ${index}`
                    });
                });

                var map = new google.maps.Map($('#map')[0],
                    {
                        zoom: 10,
                        center: { lat: locations[0].lat, lng: locations[0].lng }
                    });

                markers.forEach((marker) =>marker.setMap(map));
            }
        })
    }
</script>

<!--Load the API from the specified URL
* The async attribute allows the browser to render the page while the API loads
* The key parameter will contain your own API key (which is not needed for this tutorial)
* The callback parameter executes the initMap() function
-->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxsq9jPQjIIS6ZCrXT-QmWY14KM0q0fkI&callback=initMap">
</script>

